<html>
    <head>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    </head>
    <body>
        <form action="/send_message" method="post">{% csrf_token %}

          Message: <input type="text" name="message" id="message">
          deviceId: <input type="text" name="deviceId" id="deviceId">
          <input type="submit">
        </form>
    </body>
</html>
