<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        select { width: 100px;height:32px }
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cyberbullying Analysis & Prevention</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]> --->
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $('#carousel').carousel(
                    {
                        interval: true
                    });
        });
    </script>
    <style>
        .pstyle{
            font-style: italic;
        }
        .corusaltext{
            font-style: italic;
            color: white;
        }
    </style>



</head>

<body id="home" class="index">

<!-- Navigation -->

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class ="nav navbar-nav navbar-inverse navbar-left">
                <li>
                    <a class="page-scroll" href="#home"><span class="glyphicon glyphicon-home"></span> Cyberbullying Analysis</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-inverse navbar-right">
                <!--  <li class="hidden">
                     <a href="#page-top"></a>
                 </li> -->


                <li>
                    <a class="page-scroll" href="#Statistics"><span class="glyphicon glyphicon-stats"></span> Statistics</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio"> <span class="glyphicon glyphicon-comment"></span> Services</a>
                </li>
                <li>
                    <a class="page-scroll" href="#Ending"><span class="glyphicon glyphicon-ban-circle"></span> Ending Cyberbullying</a>
                </li>
                <li>
                    <a class="page-scroll" href="/cyberbullyingFacts"> <span class="glyphicon glyphicon-zoom-out"></span> Facts</a>
                </li>

                <li>
                    <a class="page-scroll" href="#about"> <span class="glyphicon glyphicon-user"></span> About Us</a>
                </li>

            </ul>


        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>



<!-- Navigation -->



    <div id="carousel" class="carousel" >
        <input class="carousel-active" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden checked="checked">
        <div class="carousel-item">
            <div class="carousel-controls" aria-hidden="true">


                <label for="carousel-2" class="carousel-control next" title="Next">»</label>

            </div>
            <img src="images/c2.jpg" alt="image" width="1000px" height="80px">

        </div>

        <input class="carousel-active" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden>
        <div class="carousel-item">
            <div class="carousel-controls" aria-hidden="true">

                <label for="carousel-3" class="carousel-control next" title="Next">»</label>
            </div>
            <img src="images/c1.jpg" alt="image" width="1000px" height="80px">
            <div class="carousel-caption">
                 <br>
                <p>When People Hurt You Over and Over, Think Of Them Like Sandpaper. They May Scratch and Hurt You A Bit, But In The End, You End Up Polished and They End Up Useless.</p>
                <p>-Chris Colfer</p>
            </div>
        </div>

        <input class="carousel-active" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden>
        <div class="carousel-item">
            <div class="carousel-controls" aria-hidden="true">
                <label for="carousel-4" class="carousel-control next" title="Next">»</label>

            </div>
            <img src="images/c5.jpg" alt="image" width="1000px" height="80px">
            <div class="carousel-caption">
                <br>
                <p>If You Don’t Stand Up For Yourself, You Are Letting The Bully Win!</p>
                <p>-Selena Gomez</p>
            </div>
        </div>

        <input class="carousel-active" type="radio" id="carousel-4" name="carousel" aria-hidden="true" hidden>
        <div class="carousel-item">
            <div class="carousel-controls" aria-hidden="true">
                <label for="carousel-1" class="carousel-control next" title="Next">»</label>


            </div>
            <img src="images/c3.jpg" alt="image" width="1000px" height="80px">
        </div>

        <ol class="carousel-indicators" aria-label="Carousel navigation" aria-hidden="true">
            <li>
                <label for="carousel-1" class="carousel-indicator" title="Jump to carousel item #1">●</label>
            </li>
            <li>
                <label for="carousel-2" class="carousel-indicator" title="Jump to carousel item #2">●</label>
            </li>
            <li>
                <label for="carousel-3" class="carousel-indicator" title="Jump to carousel item #3">●</label>
            </li>
            <li>
                <label for="carousel-4" class="carousel-indicator" title="Jump to carousel item #4">●</label>
            </li>
        </ol>
    </div>



    <!-- Stastics Section -->
    <section id="Statistics">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Statistics</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <a href="/national" class="portfolio-link" data-toggle="modal">  <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa fa-comment fa-stack-1x fa-inverse"></i>
                    </span></a>
                    <h4 class="service-heading">Facts for Cyberbullying Platform</h4>
                    <p class="text-muted">Over 25% of teens been bullied repeatedly through text messages.</p>
                </div>

                <div class="col-md-4">
                    <a href="#nationalStatistics" class="portfolio-link" data-toggle="modal">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa fa-bar-chart fa-stack-1x fa-inverse"></i>
                        <!--  <i class="fa fa-lock fa-stack-1x fa-inverse"></i> -->
                    </span></a>
                    <h4 class="service-heading">Frequency of Cyberbullying</h4>
                    <p class="text-muted">Over 80% of teens use a cell phone regularly, making it the most common medium for cyberbullying.</p>
                </div>
                <div class="col-md-4">
                    <a href="#californiaHomeless" class="portfolio-link" data-toggle="modal">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-child fa-stack-1x fa-inverse"></i>
                    </span></a>
                    <h4 class="service-heading">Effects of Cyberbullying on Students</h4>
                    <p class="text-muted">13% of teens who use social media say they had an experience on a social network that made them feel nervous about going to school the next day.</p>
                </div>
            </div>
        </div>
    </section>


    <!-- Services Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">"They are safe but they are not in their homes.
                        They are city-less. I think it's just a disaster for everyone."
                        -Teri Hatcher</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#housing" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../public/images/solution/housing.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Housing and Shelters</h4>
                        <p class="text-muted">"Housing programs provide the dignity and stability of a permanent home."</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#food" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../public/images/solution/food.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Food</h4>
                        <p class="text-muted">"Grand Central Food Program provides 1,000 warm, nutritious meals each night to homeless and hungry people."</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#crisisServices" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../public/images/solution/crisis.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Crisis Service</h4>
                        <p class="text-muted">"Provide immediate, lifesaving help to homeless and at-risk men, women and children."</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#youthPrograms" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../public/images/solution/youth.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Youth Programs</h4>
                        <p class="text-muted">"they can build brighter futures."</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#employment" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../public/images/solution/job.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Employment</h4>
                        <p class="text-muted">" the tools they need to find living-wage jobs."</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#advocacy" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../public/images/solution/education.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Advocacy</h4>
                        <p class="text-muted">" defends the rights of "</p>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <!-- Ending homeless Section -->
    <section id="Ending" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Ending Cyberbullying</h2>

                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center">
                    <img class="img-circle" src="../public/images/wells.jpg">
                    <h4>Financial Assistance</h4>
                    <p class="pstyle">"Security deposists and cash asistance programs"</p>
                    <p><a class="btn btn-default" href="#financial" class="portfolio-link" data-toggle="modal">View details </a></p>
                </div>

                <div class="col-md-4 text-center">
                    <img class="img-circle" src="../public/images/thriftstore.jpg">
                    <h4>Thrift Stores</h4>
                    <p class="pstyle">"Take a look at some of the treasures from stores recently."</p>
                    <p><a class="btn btn-default"  href="#hotline" class="portfolio-link" data-toggle="modal">View details </a></p>
                </div>

                <div class="col-md-4 text-center">
                    <img class="img-circle" src="../public/images/seniors.jpg">
                    <h4>Senior Citizens</h4>
                    <p class="pstyle">"Emergency Senior Shelter, the Senior Companion Program, Foster Grandparent"</p>
                    <p><a class="btn btn-default" href="#seniorCitizens" class="portfolio-link" data-toggle="modal">View details </a></p>
                </div>

                <div class="col-md-4 text-center">
                    <img class="img-circle" src="../public/images/health1.jpg">
                    <h4>Medical Services</h4>
                    <p class="pstyle">"Pediatric and adult primary care, screening, health education, convalescent care"</p>
                    <p><a class="btn btn-default" href="#medicalServices" class="portfolio-link" data-toggle="modal">View details </a></p>
                </div>

                <div class="col-md-4 text-center">
                    <img class="img-circle" src="images/vertans.jpg">
                    <h4>Veterans</h4>
                    <p class="pstyle">"Help with rent, utilities, or other basic needs through the Soldiers, Sailors, and Marines Families</p>
                    <p><a class="btn btn-default" href="#veterans" class="portfolio-link" data-toggle="modal">View details </a></p>
                </div>

                <div class="col-md-4 text-center">
                    <img class="img-circle" src="../public/images/fesco.gif">
                    <h4>Disability and SSI</h4>
                    <p class="pstyle">"Federal programs that help people who cannot work because of a disability"</p>
                    <p><a class="btn btn-default" href="#disability" class="portfolio-link" data-toggle="modal">View details </a></p>
                </div>
            </div><!-- /.row -->
        </div>
    </section>





<!-- About section-->
<section id="about" class="bg-light-gray" align="center">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">About Us</h2>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Cmpe 295 - Team KIWI</h3>
        </div>
    </div>
    <div>
        <div class="control-group">
            <label class="control-label" for="textinput">Maithili - <a href="mailto:maithili.gole@sjsu.edu"><u>maithili.gole@sjsu.edu</u></a></label><br>
            <label class="control-label" for="textinput">Nishanth - <a href="mailto:nishanth.prabhuswamy@sjsu.edu"><u>nishanth.prabhuswamy@sjsu.edu </u></a></label><br>
            <label class="control-label" for="textinput">Sowmya - <a href="mailto:sowmya.prakash@sjsu.edu"><u>sowmya.prakash@sjsu.edu</u></a></label><br>
            <label class="control-label" for="textinput">Vidya - <a href="mailto:vidya.gowdrushankaramurthy@sjsu.edu"><u>vidya.gowdrushankaramurthy@sjsu.edu</u></a></label>
        </div>
    </div>

</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <span class="copyright">Cyberbullying Analysis & Prevention | CmpE295| Team KIWI</span>
            </div>

            <div class="col-md-4">
                <ul class="list-inline quicklinks">

                    <li>Spring 2016
                    </li>

                </ul>
            </div>
        </div>
    </div>
</footer>



<!--  <a href="#services" id="scroll-top" class="add-tooltip fixed" data-placement="top">
                     <i class="fa fa-angle-double-up"></i> -->





<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="js/classie.js"></script>
<script src="js/cbpAnimatedHeader.js"></script>
<script src="js/init.js"></script>

<!-- Contact Form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<!--  <script src="js/contact_me.js"></script> -->

<!-- Custom Theme JavaScript -->
<script src="js/agency.js"></script>
<!--</div>-->
</body>

</html>
